<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bill.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= @bill.data %>
</p>
<p>
  <strong>Subjects:</strong>
  <%= @bill.data['subjects'] %>
</p>
<%= link_to 'Back', bills_path %>
