<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=625264840857145';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h3>CTNewsJunkie Reader Support Score: <%= @bill.votes.sum(:points) || 0 %></h3>
<div class="row">
  <%= form_for @bill, url: { action: "vote", params: { bill_id: @bill.id, points: 1 } }, method: 'post', html: { class: 'form-group col-xs-6' } do |f| %>
    <%= f.submit 'Support bill', class: 'btn btn-success btn-lg' %>
  <% end %>

  <%= form_for @bill, url: { action: "vote", params: { bill_id: @bill.id, points: -1 } }, method: 'post', html: { class: 'form-group col-xs-6' } do |f| %>
    <%= f.submit 'Oppose bill', class: 'btn btn-danger btn-lg' %>
  <% end %>
</div>

<h1><%= @bill.data['bill_id'] %>: <%= @bill.title.titlecase %></h1>
<h3></h3>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#sponsors">Sponsors</a></li>
  <li><a data-toggle="tab" href="#actions">Actions</a></li>
  <li><a data-toggle="tab" href="#text">Bill Text</a></li>
  <li><%= link_to 'Official Bill Page', @bill.data['sources'][1]['url']  %></li>
</ul>

<div class="tab-content">
  <div id="sponsors" class="tab-pane fade in active">
    <h3>Sponsors</h3>
    <ul>
      <% @bill.data['sponsors'].each do |sponsor| %>
        <li><%= sponsor['name'] %>, <%= sponsor['official_type'] %></li>
      <% end %>
    </ul>
  </div>
  <div id="actions" class="tab-pane fade">
    <h3>Actions</h3>
    <table class="table">
      <% @bill.data['actions'].each do |action| %>
        <tr>
          <td><%= action['date'].first(10) %></td>
          <td><%= action['actor'] %></td>
          <td><%= action['action'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="text" class="tab-pane fade">
    <h3>Bill Text</h3>
    <% if @bill.text %>
      <%= raw @bill.text[0]['Text'] %>
    <% end %>
  </div>
</div>

<div class="fb-comments" data-href="<%= request.url %>" data-numposts="5" data-width="100%"></div>
