<!DOCTYPE html>
<html>
  <head>
    <title>CT News Junkie | Legislation Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="og:title" content="CT NewsJunkie Legislation Guide" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="157893488165572" />
    <meta property="og:image" content="<%= image_url("social-graph-default.jpg") %>" />
    <!-- Broadstreet Header Code -->
    <script src="https://cdn.broadstreetads.com/init-2.min.js"></script>
    <script>broadstreet.watch({ networkId: 15 })</script>
    <!-- End Broadstreet Header Code -->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <!-- Broadstreet Billboard-Bills Zone Code -->
        <broadstreet-zone zone-id="69069"></broadstreet-zone>
        <!-- End Broadstreet Billboard Zone Code -->

        <!-- Broadstreet Interstitials-Bills Zone Code -->
        <broadstreet-zone zone-id="69070"></broadstreet-zone>
        <!-- End Broadstreet Interstitials-Bills Zone Code -->

        <!-- Broadstreet Keyword Ads-Bills Zone -->
        <broadstreet-zone zone-id="69067" uri-keywords="true"></broadstreet-zone>
        <!-- End Broadstreet Keyword Ads-Bills Zone -->
      </div>
    <div class="row header">
      <div class="col-md-5 col-xs-12 logo">
        <%= link_to(bills_url) do %><%= image_tag('ctnj-logo.png', class: 'img-responsive') %><% end %>
      </div>
      <div class="col-md-7 hidden-sm hidden-xs social">
        <a href="http://www.twitter.com/ctnewsjunkie"><%= fa_icon 'twitter', class: 'fa-2x twitter' %></a>
        <a href="http://www.facebook.com/ctnewsjunkie"><%= fa_icon 'facebook', class: 'fa-2x facebook' %></a>
      </div>
    </div>
    <div class="row menu">
      <div class="col-xs-12">
        <div class="btn-group navbar-left" role="group">

          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %><button type="button" class="btn btn-default">Log Out</button><% end %>
          <% else %>
            <%= link_to user_facebook_omniauth_authorize_path do %><button type="button" class="btn btn-default">Sign in with Facebook</button><% end %>
          <% end %>
          <a href="http://www.ctnewsjunkie.com/"><button type="button" class="btn btn-default">News</button></a>
          <a href="http://directory.ctnewsjunkie.com/"><button type="button" class="btn btn-default">The Directory</button></a>
          <a href="http://www.ctnewsjunkie.com/contact/"><button type="button" class="btn btn-default">Contact</button></a>
          <a href="https://directory.ctnewsjunkie.com/support_public_service_journalism/"><button type="button" class="btn btn-default">Join the Club</button></a>
          <a href="http://www.ctnewsjunkie.com/archives/page/sign_up_for_our_email_blasts/"><button type="button" class="btn btn-default">E-Mail Sign-Up</button></a>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12 col-md-8">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="col-xs-12 col-md-4">
        <!-- Broadstreet RightCol Desktop/Tablet-Open-Zone Code -->
        <br>
        <broadstreet-zone zone-id="64570"></broadstreet-zone><br>
        <broadstreet-zone zone-id="64570"></broadstreet-zone><br>
        <broadstreet-zone zone-id="64570"></broadstreet-zone><br>
        <broadstreet-zone zone-id="64570"></broadstreet-zone><br>
        <broadstreet-zone zone-id="64570"></broadstreet-zone>
        <!-- End Broadstreet RightCol Desktop/Tablet-Open-Zone Code -->
      </div>
    </div>
    <div class="row footer">
      This product is for research only. CTNewsJunkie does not endorse any legislation referenced on this site or candidates for office.
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113551717-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113551717-1');
    </script>
  </body>
</html>
