<!DOCTYPE html>
<html>
  <head>
    <title>CT News Junkie | Legislation Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="og:title" content="CT NewsJunkie Voter Guide" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vote.ctnewsjunkie.com/" />
    <meta property="og:image" content="<%= image_url("social-graph-default.jpg") %>" />
  </head>

  <body>
    <div class="container">
    <div class="row ad" street-address="81287"></div>
    <div class="row header">
      <div class="col-md-5 col-xs-12 logo">
        <%= link_to(districts_url) do %><%= image_tag('header.jpg', class: 'img-responsive') %><% end %>
      </div>
      <div class="col-md-7 hidden-sm hidden-xs social">
        <a href="http://www.twitter.com/ctnewsjunkie"><%= fa_icon 'twitter', class: 'fa-2x twitter' %></a>
        <a href="http://www.facebook.com/ctnewsjunkie"><%= fa_icon 'facebook', class: 'fa-2x facebook' %></a>
      </div>
    </div>
    <div class="row menu">
      <div class="col-xs-12">
        <div class="btn-group navbar-left" role="group">
          <% if user_signed_in? %>
            <button type="button" class="btn btn-default">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </button>
          <% else %>
            <button type="button" class="btn btn-default">
            <%= link_to('Login', new_user_session_path)  %>
            </button>
          <% end %>
          <a href="http://www.ctnewsjunkie.com/"><button type="button" class="btn btn-default">News</button></a>
          <a href="http://directory.ctnewsjunkie.com/"><button type="button" class="btn btn-default">The Directory</button></a>
          <%= link_to page_path('about') do %><button type="button" class="btn btn-default">About</button><% end %>
          <%= link_to page_path('sponsorship') do %><button type="button" class="btn btn-default">Sponsorship</button><% end %>
          <a href="http://www.ctnewsjunkie.com/contact/"><button type="button" class="btn btn-default">Contact</button></a>
          <a href="https://directory.ctnewsjunkie.com/support_public_service_journalism/"><button type="button" class="btn btn-default">Join the Club</button></a>
          <a href="http://www.ctnewsjunkie.com/archives/page/sign_up_for_our_email_blasts/"><button type="button" class="btn btn-default">E-Mail Sign-Up</button></a>
          <%= link_to(candidates_path) do %><button type="button" class="btn btn-default">Candidates</button><% end %>
          <%= link_to(districts_path) do %><button type="button" class="btn btn-default">Districts</button><% end %>
        </div>
      </div>
    </div>
    <div class="row content">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="row footer">
      This product is for research only. CTNewsJunkie does not endorse any legislation referenced on this site or candidates for office.

      Questions 2, 5, and 8 were paid for by AARP Connecticut. The messages in these questions were made independent of any candidate or political party. AARP Connecticut does not endorse candidates.

      Additional information may be found on the State Elections Enforcement Commission’s web site.

      CTNewsJunkie reserves the right to remove offensive or inappropriate content within candidates' answers to questions, but will note when such a change has been made.
    </div>
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-aptgxa0CJrq7s"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-aptgxa0CJrq7s.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85362087-1', 'auto');
      ga('send', 'pageview');

      (function(d, s) {
        // CLICK MACRO AND CONFIGURATION SECTION
        var destination = '%%CLICK_URL_ESC%%';
        // DO NOT EDIT BELOW THIS LINE
        var js, bjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s); js.async = false;
        js.src = "https://ad.broadstreetads.com/display/81287.js?sa=1&"
          + (window.broadstreet ? 'init=0' : '')
          + (destination.indexOf('CLICK_URL_ESC') >= 0
            ? '' : '&destination=' + destination);
        bjs.parentNode.insertBefore(js, bjs);
      }(document, 'script'));
    </script>
  </body>
</html>
